:root {
    --blue: #0097e6;
    --orange: #6c5ce7;
    --red: #a29bfe;
    --white: #52505e;
    --light-color: #333;
    --black: #fff;
    --light-bg: #e0e0e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
*::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--orange);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: var(--light-bg);
    font-family: 'Poppins';
}

.message{
    position: sticky;
    max-width: 200px;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    background-color: var(--orange);
    border-radius: 7px;
}
.message span{
    color: var(--white);
    font-size: 2rem;
    margin: 0 auto;
    cursor: pointer;
}
.btn,
.delete-btn,
.option-btn {
    display: block;
    width: 100%;
    border-radius: .5em;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 1rem;
    transition: all .3s;
}

.btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: var(--red);
}

.option-btn {
    background-color: var(--blue);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.flex-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-btn>* {
    flex: 1;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
}

.form-container form {
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--black);
    padding: 2rem;
    text-align: center;
}

.form-container form h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--white);
    text-transform: uppercase
}

.form-container form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.form-container form p {
    font-size: 2.3rem;
    color: var(--light-color);
    margin: 1rem 0;
}

.form-container form p a {
    color: var(--blue);
}

.form-container form p a:hover {
   text-decoration: underline;
}


/*Media Query*/
@media (max-width:991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width:768px){
    .update-profile-container form .flex .inputBox{
        width: 100%;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

}
